* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container,
header,
header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    height: 100vh;
    background: #6D6027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

header {
    width: 900px;
    height: 500px;
    margin: 0px auto;
    background-color: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding-right: 250px;
}

.header ul {
    position: absolute;
    top: 200px;
    left: 100px;
}

header ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    display: inline-block;
}

header ul li a:hover {
    background-color: rgb(36, 36, 248);
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;


}

header ul li {
    position: relative;

}

.dropdown1 {
    display: none;
    position: absolute;
    top: 45px;
    left: 0px;
    flex-direction: column;
    width: 700px;
    padding: 20px 10px;
    border: 2px solid black;
    text-align: justify;
}

header ul li:hover .dropdown1 {
    display: flex;
}

.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4 {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 700px;
    top: 45px;
    padding: 20px 10px;
    border: 3px solid black;
    text-align: justify;
    border-radius: 8px;
}

header ul li:hover .dropdown1,
header ul li:hover .dropdown2,
header ul li:hover .dropdown3,
header ul li:hover .dropdown4 {
    display: flex;
}
.dropdown2{
left: -85px;
}
.dropdown3{
    left: -166px;
}
.dropdown4{
    left: -242px;
}